.App {
  text-align: center;
}
.main-sidebar {
  background-color: rgb(34, 34, 34);
  padding: 1px;
}
.sidebar {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 1px;
  margin-top: 15px;
}
.sidebar li {
  margin-left: 20px;
}
.link {
  text-decoration: none !important;
  color: #fff;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
